* {
    box-sizing: border-box;
  }
  
  .App {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .column2 {
    width: 10%;
  }
  
  .droppable-col {
    width: 100%;
    background-color: gray;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
  }
  
  .item {
    margin-bottom: 10px;
    padding: 5px;
  }

  .container-table {
    width: 35%;
  }

  .col-vertical{
    width: 45px !important;
    height: 91px !important;
    background-color: black;
    border: 0.5px solid white;
    padding: 0 !important;
    margin: 0 !important;
  }

  .col-horizontal{
    height: 45px !important;
    width: 85px !important;
    background-color: black;
    border: 0.5px solid white;
    padding: 0 !important;
    margin: 0 !important;
  }

  .col{
    height: 45px !important;
    width: 85px !important;
    background-color: black;
    border: 0.5px solid white;
    padding: 0 !important;
    margin: 0 !important;
  }

  .col-empty{
    background-color: white;
  }

  .col-vertical .item{
    padding: 0 !important;
  }

  .col-horizontal .item{
    padding: 0 !important;
  }
