* {
    box-sizing: border-box;
  }
  
  .App {
    display: flex;
    width: 100%;
  }
  
  .droppable-col {
    width: 100%;
    background-color: gray;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    margin-bottom: 10px;
    padding: 5px;
  }

  .drop{
    width: 100%;
    height: 100%;
  }

  .dropSection{
    background-color: rgb(26, 73, 15);
  }

  .container-table {
    display: flex;
    justify-content: center;
    border: 1px solid;
    padding: 5px 5px;
    border-radius: 8px;
  }

  .col-vertical{
    width: 45px !important;
    height: 91px !important;
    background-color: black;
    border: 0.5px solid white;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
  }

  .col-horizontal{
    height: 45px !important;
    width: 85px !important;
    background-color: black;
    border: 0.5px solid white;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
  }

  .col {
    padding: 0 !important;
  }

  .row {
    margin: 0 !important;
  }

  .col-empty{
    background-color: white;
  }

  .col-vertical .item{
    padding: 0 !important;
  }

  .col-horizontal .item{
    padding: 0 !important;
  }

  .containerHorizontal{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .containerVertical{
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .empty-vertical{
    width: 45px !important;
  }

  .empty-vertical2{
    width: 40px !important;
  }

  .empty-horizontal{
    height: 45px !important;
  }